@import "tailwindcss";

:root {
	--color-muted-gold: #947a55;
}

@theme {
	--color-muted-gold: #947a55;
	--font-title: "Old Standard TT", serif;
}

body {
	font-family: "Albert Sans", sans-serif;
	font-weight: 300;
	font-size: 24px;
	@apply bg-cyan-300 tracking-tight;
}

button {
	@apply text-white px-18 py-6 shadow-[0_4px_16px_#00000066] font-bold cursor-pointer transition-transform duration-300 ease-in-out rounded-lg;
	background:
		url("/wood.png") 0 420px,
		radial-gradient(circle at 20% 20px, #ab916d, var(--color-muted-gold));
	&:hover {
		@apply scale-105;
	}
}

.hover-zoom {
	@apply transition-transform duration-300 ease-in-out;
	&:hover {
		@apply scale-105;
	}
}

.main-section {
	background:
		url("/grid.png") 64px 64px fixed,
		radial-gradient(circle at center left, #b3804d, #ccaa88);
}
